/*generics*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    list-style-type: none;
}

/*utilities*/
:root{
    --main: #141922;
    --black: #000;
    --footer: #282828;
    --gray-word: #7A7D81;
    --header: rgba(0, 0, 0, 0.5);
}

.button{
    padding: 10px 30px;
    border-radius: 20px;
    border: white 2px solid;
    background-color: var(--header);
    margin-right: 50px;
}

.padd10{
    padding: 10px;
}

.margin-btm-small{
    margin-bottom: 15px;
}

.margin-btm{
    margin-bottom: 30px;
}

.round{
    border-radius: 50%;
}

.none{
    display: none;
}

.img-sidebar{
    height: 30px;
    width: 30px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}

.just-sp-btw{
    justify-content: space-between;
}

.align-sp-btw{
    align-content: space-between;
}

/*header*/
#header{
    position: fixed;
    width: calc(100vw - 50px);
    height: 100px;
    align-self: flex-end;
    background-color: var(--header);
    margin-left: 50px;
    line-height: 100px;
    text-align: end;
}

/*sidebar*/
#sidebar{
    background-color: black;
    width: 50px;
    height: calc(100vh - 100px);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#sidebar i{
    font-size: 30px;
}

#download{
    height: 15px;
    width: 15px;
    margin-left: 7px;
}

#account{
    background-color: #808080;
    padding: 0 0 6px 0;
    float: left;
}

#sidebar .flex-column:nth-child(2){
    align-items: flex-start;
}

.logo{
    height: 30px;
    color: white;
}

.none-logo{
    display: none;
}

.none-playlist{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    padding: 10px 0;
}

.none-playlist *{
    padding: 5px 5px 5px 0;
}

/*main*/

#main h2{
    padding: 20px;
}

#main{
    width: 100%;
    padding-top: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}

.main-bg{
    background-color: var(--main);
    display: flex;
}

.nav-bar{
    padding: 15px 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.nav-bar li{
    padding: 10px;
}

.card-box{
    flex-wrap: wrap;
    padding: 10px;
    justify-content: baseline;
}

.card{
    max-width: 50%;
    padding: 10px;
}

.card img{
    width: 100%;
}

.subtitle{
    font-size: 12px;
    padding: 0 20px;
}

.popular img{
    border-radius: 50%;
}

/*footer*/
#footer{
    position: relative;
    background-color: var(--footer);
    height: 100px;
    width: 100vw;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
}

.footer-box{
    width: 90%;
    height: 80%;
}

.footer-center{
    align-items: center;
}

.footer-son>*{
    padding: 0px 10px;
}

.footer-img{
    height: auto;
}

.volume-line{
    background-color: #5A5A5A;
    width: 80px;
    height: 3px;
}